@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

/* Hide scrollbar for all browsers */
.scrollbar-none {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.scrollbar-none::-webkit-scrollbar {
  display: none;  
}
