@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  @apply scroll-smooth;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}

/* Hide scrollbar for all browsers */
.scrollbar-none {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
.scrollbar-none::-webkit-scrollbar {
  display: none;  
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}
